
/* about company */
.about-company{
  margin-top:7rem;
  position: relative;
}
.about-company .about-company-video{
 
  position: relative;
  background: url(../../assets/images/about/video.jpg) ;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center top;
  padding: 42px 0 395px;
 background-origin: content-box;
 
}
.contact-banner , .about-section, .service-page-section{
  
  margin-top:6rem;
  background-image: url(../../assets/images/contact/img-5.jpg);
 
  position: relative;
  z-index: 1;
  background-size: cover;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left:0px;
  margin-right:0px;
  width:100%;
  /* margin-top:4rem; */
}

.contact-banner .shape-svg svg , .about-section .shape-svg svg, .service-page-section .shape-svg svg{
  fill:white;
  position: absolute;
  width: 100%;
   bottom: -3px;
 /* left: 0;
  
  z-index: 1; */
 
}
.about-section::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background:rgba(45, 45, 78, 0.5);
  width: 100%;
  height: 100%;
z-index:-1;
  
}


.contact-banner-info{
 display: flex;
 /* justify-content: center; */
 align-items: center;
color:white;
flex-direction: column;
/* position: absolute;
top:30%;
left:45%;
color:white; */
z-index:2;

}
/* .about-company-video{
  height:7rem;
  width:7rem;
/* } */
.about-company .about-company-video .popup-video{
  background-image: linear-gradient(180deg,#03228f 0%, #0b70e1 100%);
 width:80px;
 height: 80px;
 line-height:80px;
 text-align:center;
 display:inline-block;
 border-radius:50%;
 position:absolute;
 left:18rem;
 top:12rem;
 z-index:2
 
}
@media (1200px <= width <= 1400px){
.about-company .about-company-video .popup-video{
  position:absolute;
 left:16rem;
 top:12rem;
}
}
@media (997px <= width <= 1199px){
  .about-company .about-company-video .popup-video{
    position:absolute;
   left:12rem;
   top:12rem;
  }
}
@media (769px <= width <= 996px){
  .about-company .about-company-video .popup-video{
    position:absolute;
   left:20rem;
   top:12rem;
  }
}
@media (501px <= width <= 767px){
  .about-company .about-company-video .popup-video{
    position:absolute;
   left:14rem;
   top:12rem;
  }
}
@media ( max-width: 500px){
  .about-company .about-company-video .popup-video{
    position:absolute;
   left:10rem;
   top:12rem;
  }
}
@media (max-width:383px){
  .about-company .about-company-video .popup-video{
    position:absolute;
   left:9rem;
   top:12rem;
  }
}
.about-company-video .popup-video a{
  text-decoration:none;
  color: #106eea;
}


.about-company .about-company-video .popup-video::before{
  content:"";
  border:3px solid blue;
  position: absolute;
  left:-3.2rem;
  top:-3.1rem;
 
  display:block;
  width:180px;
  height:180px;
  border-radius:50%;
  animation: big 3.2s  linear infinite ;
  animation-delay: 0s;
}

@keyframes big {
  0%{
    transform: scale(0.5);
    opacity:1;
    border-width:3px;
  }
  
  40%{
    transform:scale(0.6);
    opacity: .5;
    border-width:5px;
  }
  65%{
    transform:scale(0.8);
    border-width:1px;
  }
  100%{
    transfom:  scale(1);
    opacity:0;
    border-width:1px;
  }
}

@keyframes zoomBig {
  0%{
    transform: scale(0.5);
    opacity:1;
    border-width:3px;
  }
  
  40%{
    transform:scale(0.6);
    opacity: .5;
    border-width:5px;
  }
  65%{
    transform:scale(0.8);
    border-width:1px;
  }
  100%{
    transfom:  scale(1);
    opacity:0;
    border-width:1px;
  }
}

.about-company .about-company-video .popup-video i{
  font-size:20px;
  line-height:80px;
  display:block;
  color:white;
}


.about-company .about-company-video .popup-video::after {
  content: "";
  border: 3px solid #106eea;
  position: absolute;
  z-index: 0;
  left:-2.5rem;
  top: -2.5rem;
  display: block;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  animation: zoomBig 3.25s  linear infinite ;
  animation-delay:0.6s;
  z-index:-1;
} 

/* passion */

.passion-section{
  position: relative;
  background-color: #41d3f715;
  padding-top:3rem;
  padding-bottom: 6rem;
  margin-top:4rem;
}

.passion-section .it-design{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
position: relative;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border:2px solid white;
  overflow: hidden;
  transition: all 1s linear;
 
 }


.passion-section .it-design:hover{
  border: 2px solid #1348aa;
}

.passion-section .it-design .top-icon i
 {
  color:#1348aa;
  font-size: 1.5rem;
}
.passion-section .it-design .bottom-icon i{
  color:#1348aa;
  font-size: 1.8rem;
}

.passion-section .it-design h5{
  padding-top:1rem;
}

.passion-section .it-design p{
  padding:0 1rem;
  text-align:center;
  padding-bottom: 1rem;
}

.about-area{
  margin-top:0;
}
.about-founder .media-body{
  position: absolute;
  left:2.5rem;
  top:3.3rem;
}
.about-founder .media-body h2{
font-size: 2em;
}
.about-founder{
  margin-top: 0px;
}
